.employee-Header-main {
  // border: 2px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgba(255, 205, 205, 0.2);
  // opacity: 0.2;
  border-radius: 12px;
  height: 108px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  .empoyee-Header-Div-One {
    width: 96px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .employee-Header-Div-Two {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    // border: 2px solid blue;

    .div-two-child-one {
      // border: 2px solid pink;
      width: 100%;
      // height: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      height: 28px;
      margin-top: 24px;
      margin-bottom: 10px;

      .oneItem-one {
        // border: 1px solid purple;
        width: 154px;
        height: 28px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height, or 117% */

        letter-spacing: -0.011em;

        /* Primary/Black Primary */

        color: #000000;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 20px;
      }

      .oneItem-two {
        // border: 1px solid purple;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* padding: 4px 12px; */
        gap: 10px;
        width: 57px;
        height: 22px;
        background: #ededed;
        border: 1px solid #d8d8d8;
        border-radius: 60px;
        flex: none;
        order: 0;
        flex-grow: 0;
        justify-content: center;
        margin-right: 12px;

        .textPK {
        }
      }

      .oneItem-three {
        border: 1px solid purple;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* padding: 4px 12px; */
        gap: 10px;
        width: 82px;
        height: 22px;
        background: #ffe5b3;
        border: 1px solid #ffc397;
        border-radius: 60px;
        flex: none;
        order: 1;
        justify-content: center;
        flex-grow: 0;
        padding: 4px;
      }
    }

    .div-two-child-two {
      // border: 2px solid pink;
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      height: 20px;
      margin-top: 0px;
      margin-bottom: 27px;

      .twoItem-one {
        // border: 1px solid purple;
        // width: 141px;
        width: 161px;
        height: 19px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.011em;
        color: #6c6c6c;
        margin-right: 11px;
        flex: none;
        flex-grow: 0;
      }

      .twoItem-two {
        // border: 1px solid purple;
        width: 184px;
        height: 20px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.011em;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 58.5px;
        flex: none;
        flex-grow: 0;
      }

      .twoItem-three {
        // border: 1px solid purple;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // border: 1px solid purple;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.011em;
        color: black;
        font-family: "Lato";
        flex: none;
        flex-grow: 0;
      }
    }
  }
  .employee-Header-Div-Three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .container-Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      background: white;
      border: 1px solid rgb(231, 231, 231);
      box-shadow: rgba(221, 221, 221, 0.15) 10px 10px 24px 1px;
      border-radius: 8px;
      margin-right: 24px;
      margin-top: 36px;
      margin-bottom: 36px;
      margin-left: auto;
    }
  }
}
