node_modules
db.sqlite3
frontend/dist/
__pycache__
*.pyc
.coverage
.coveragerc
.django
.dockerignore
.eslintrc.json
.flake8
.git
.gitignore
.isort.cfg
.pre-commit-config.yaml
docker-compose*
docs
media
venv
webpack-stats.json
