version: '3.4'

services:
  db:
    image: postgres:13.4-alpine
    container_name: saas-erp-db-prod
    restart: always
    env_file:
      - ./env.db
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: docker/prod.Dockerfile
    env_file:
      - ./.env
    container_name: saas-erp-prod
    command: ./docker/scripts/run-gunicorn
    volumes:
      - static_volume:/opt/code/static
      - media_volume:/opt/code/media
      - shm:/dev/shm
    depends_on:
      - db

  nginx:
    build:
      context: ./nginx
      dockerfile: prod.Dockerfile
    restart: always
    container_name: saas-erp-nginx-prod
    ports:
      - '127.0.0.1:9000:80'
    volumes:
      - static_volume:/opt/code/static
      - media_volume:/opt/code/media
      - shm:/dev/shm
    depends_on:
      - app

volumes:
  db_data:
  static_volume:
  media_volume:
  shm:
