version: '3.4'

services:
  app:
    build: 
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgres://postgres:secret@db/saas-erp
    container_name: saas-erp
    command: ./manage.py runserver 0.0.0.0:8000

    ports:
      - 8000:8000
    volumes:
      - .:/opt/code
  db:
    image: postgres:13.4
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=saas-erp
    depends_on:
      - app