SECRET_KEY=django-insecure-)+j%b!0x)gi5s_+!4gk08+kk3g2%rup@s1rd1x)=82hb5#8pfy
DEBUG=True
DOMAIN_NAME=http://localhost:8000
DEFAULT_FROM_EMAIL="no-reply@prixite.com"
EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.sendgrid.net"
EMAIL_HOST_USER="apikey"
EMAIL_HOST_PASSWORD="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"
EMAIL_PORT=587
EMAIL_USE_TLS=True
REACT_APP_GOOGLE_CLIENT_ID="fake"
REACT_APP_LOCAL_URL="http://localhost:8000"
REACT_APP_BASE_URL="http://localhost:8000"
DATABASE_URL=postgres://postgres:secret@localhost:5432/saas-erp
SLACK_TOKEN=
SLACK_ATTENDACE_CHANNEL=
ALLOWED_HOSTS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_STORAGE_BUCKET_NAME=