.app-bar-cls1 {
  //visibility: hidden;
  display: none;
}

@media (max-width: 390px) {
  .app-bar-cls1 {
    //visibility: visible;
    display: contents;
    position: absolute;
    border-bottom: none;
    background-color: white;
    .toolbar-cls1 {

      display: flex;
      flex-direction: row;
      flex-grow: 1;

   .appbar-toolbar-cls1 {
        min-height: 80px;
        padding: 0px;
        margin-left: auto;
        .search-icon-box {
          margin-right: 3px;
        }
      }
    }
  }
  .list-items-btn {
    margin-top: 25px;
    .list-item-icon {
      .icon-img {
        height: 24px;
        width: 24px;
      }
      .img {
        height: 2px;
        width: 2px;
      }
    }
  }
  .logout-link {
    text-decoration: none !important;
    color: inherit !important;
  }
}
