{% extends 'app/html/base.html' %}

{% block content %}
<div class="container p-5">
    {% if validlink %}
        <h2>Enter new password</h2>
        {% if form.errors %}
        {% include 'app/html/partials/error.html' with form=form %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label for="id_new_password1">New Password</label>
                <input type="password"
                        class="form-control"
                        placeholder="Enter new password"
                        name="new_password1"
                        autofocus
                        autocapitalize="none"
                        maxlength="150"
                        required
                        id="id_new_password1">
                <div>
                    {{form.new_password1.help_text}}
                </div>
            </div>
            <div class="mb-2">
                <label for="id_new_password2">Confirm password</label>
                <input type="password"
                       id="id_new_password2"
                       name="new_password2"
                       class="form-control"
                       required>
            </div>
            <button type="submit" class="btn btn-success">Change Password</button>
        </form>
    {% else %}
        <h2>Invalid Link</h2>
        <p>Password is invalid or already used. Please request a new link</p>
    {% endif %}
</div>
{% endblock %}
