{% extends 'app/html/base.html' %} {% block content %}
<div class="container p-5">
  <h2>Change password</h2>
  {% if form.errors %}
  {% include 'app/html/partials/error.html' with form=form%}
  {%endif%}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_old_password">Old Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter old password"
        name="old_password"
        autofocus
        autocapitalize="none"
        maxlength="150"
        required
        id="id_old_password"
      />
    </div>
    <div class="mb-2">
      <label for="id_new_password1">New Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter new password"
        name="new_password1"
        autofocus
        autocapitalize="none"
        maxlength="150"
        required
        id="id_new_password1"
      />
      <div>{{form.new_password1.help_text}}</div>
    </div>
    <div class="mb-2">
      <label for="id_new_password2">Confirm password</label>
      <input
        type="password"
        id="id_new_password2"
        placeholder="Confirm new password"
        name="new_password2"
        class="form-control"
        required
      />
    </div>
    <button type="submit" class="btn btn-success">Change Password</button>
  </form>
</div>
{% endblock %}
