.addStandupModal {
  .MuiDialog-paper {
    padding: 24px 24px 0px 24px;
    width: 780px;
    height: 650px;
    align-items: center;
    box-shadow: unset;
    border-radius: 12px;
  }
  .MuiDialogTitle-root {
    width: 100%;
    .modal-header-cls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .heading-text-box {
        .heading-text {
          font-weight: 600;
          font-size: 20px;
          color: #000;
        }
        .subheading-text {
          font-weight: 400;
          font-size: 14px;
          color: #6c6c6c;
        }
      }
      .cross-icon-box {
        height: 42px;
        width: 42px;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f5f5f5;
      }
    }
  }
  &__Content {
    display: flex;
    height: auto;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    .container-cls {
      .grid-item-cls {
        .fields-cls {
          height: 84px !important;
          .text-field-cls {
            .MuiOutlinedInput-notchedOutline {
              border: 1px solid #d4d6db;
            }
            .MuiFormLabel-root-MuiInputLabel-root {
              color: #000;
            }
            input {
              border: 1px solid transparent;
            }

            .Mui-disabled {
              color: lightgray !important;
            }
            .textfield_label {
              color: black;
              font-weight: 400;
              font-size: 16px;
              letter-spacing: -0.011em;
              .MuiFormLabel-asterisk {
                color: #6c6c6c !important;
              }
            }
            .menu-item-cls {
              font-size: 14px;
              font-weight: 600 !important;
            }
          }
          .errorText {
            color: #ff1744;
            font-size: 0.8rem;
            margin-top: 1px;
            margin-bottom: 0px;
          }
          .MuiTextField-root {
            margin-bottom: 0px !important;
            margin-top: 16px !important;
          }
        }
        .multi-fields-cls {
          height: 130px !important;
          .text-field-cls {
            .MuiOutlinedInput-notchedOutline {
              border: 1px solid #d4d6db;
            }
            .MuiFormLabel-root-MuiInputLabel-root {
              color: #000;
            }
            input {
              border: 1px solid transparent;
            }
            .textfield_label {
              color: black;
              font-weight: 400;
              font-size: 16px;
              letter-spacing: -0.011em;
            }
            .menu-item-cls {
              font-size: 14px;
              font-weight: 600 !important;
            }
          }
          .errorText {
            color: #ff1744;
            font-size: 0.8rem;
            margin-top: 1px;
            margin-bottom: 0px;
          }
          .MuiTextField-root {
            margin-bottom: 0px !important;
          }
        }
      }
    }

    .salary-range-box {
      margin-top: 37px;
      .salary-range-text {
        font-size: 12px;
        font-weight: 400;
        color: #6c6c6c;
      }
      .MuiSlider-rail {
        color: #ebebeb;
        height: 2px;
      }
      .MuiSlider-thumb {
        height: 10px;
        width: 10px;
      }
      .MuiSlider-valueLabel {
        color: #6c6c6c;
        background-color: transparent;
        transform: translatey(90%) scale(1);
      }
    }
  }
  &__Actions {
    width: 100%;
    padding: 20px 24px 24px 24px !important;
    .resetBtn {
      color: black;
      background: white;
      width: 96px;
      height: 48px;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid #e7e7e7;
      text-transform: capitalize;
      border-radius: 12px;
      &:hover {
        background: white;
        color: grey;
      }
      .reset-img {
        margin-right: 10px;
        display: flex;
      }
    }
    .submitBtn {
      color: white;
      background: #ff2f2f;
      width: 96px;
      height: 48px;
      padding: 13px 20px;
      font-size: 16px;
      font-weight: 400;
      border-radius: 12px;
      text-transform: capitalize;
      &:hover {
        background: #ffcdcd;
        color: white;
      }
      .submit-img {
        margin-left: 10px;
        display: flex;
        margin-top: 4px;
      }
      .MuiLoadingButton-loadingIndicator {
        color: white;
      }
    }
  }
}
