.departmentDataGridTable-section {
    .dataGridTable-main {
      width: 100%;
      background-color: white;
      margin-top: 25px;
      overflow-x: auto;
      overflow-y: auto;
      .view-btn {
        text-transform: none;
        border-radius: 12px;
        width: 70px;
        height: 34px;
        background: #ff2f2f;
        border-radius: 12px;
        color: white;
      }
      .dataGrid {
        .MuiDataGrid-columnHeaders {
          background-color: rgba(207, 207, 207, 0.2);
          border-radius: 12px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.011em;
          border-bottom: none;
          color: #6c6c6c;
          &:focus {
            outline: white;
          }
          .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
            display: none;
          }
        }
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.011em;
        color: #000000;
        border: white;
  
        .renderCell-joiningDate {
          margin-right: auto;
          .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
            &:hover {
              background-color: #cfcfcf;
            }
          }
        }
      }
    }
    .error-img {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 200px;
  
      color: #000000;
      .error-msg {
        font-family: "Lato";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
    .top-bar-cls {
      margin-top: 15px;
      .title-cls {
        font-size: 20px;
        font-weight: 700;
      }
      .filter-section {
        .text-cls {
          margin-right: 15px;
          border: 1px solid white;
          .MuiInputBase-root {
            padding: 11px 16px 11px 16px;
            border-radius: 12px;
            height: 44px;
            background: #ffffff;
            box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
            border-radius: 12px;
            border: 1px solid #ffffff;
          }
        }
        .filter-btn-cls {
          .filter-btn {
            text-transform: none;
            height: 44px;
            background: #ffffff;
            border: 1px solid #e7e7e7;
            box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
            border-radius: 12px;
            color: black;
            padding: 12.5px 16px 12.5px 19.33px;
          }
        }
        .create-btn {
          margin-left: 15px;
          text-transform: none;
          border-radius: 12px;
          width: 108px;
          height: 44px;
          background: #ff2f2f;
          border-radius: 12px;
          color: white;
        }
      }
    }
  }
  