{% extends "app/base.html" %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Prixite</a>
    </div>
    <div class="collapse navbar-collapse" id="topbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url "html:home" %}">Home</a></li>
        <li><a href="{% url "html:users" %}">Users</a></li>
        <li><a href="{% url "html:employees" %}">Employees</a></li>
        <li><a href="{% url "html:settings" %}">Settings</a></li>
        <li><a href="{% url "html:account" %}">Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% block page %}{% endblock %}
</div>

{% endblock %}
