{% extends "app/base.html" %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Prixite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% url "html:home" as home_url %}
        <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">Home</a>

        {% url "html:users" as users_url %}
        <a class="nav-link {% if request.path == users_url %}active{% endif %}" href="{{ users_url }}">Users</a>

        {% url "html:employees" as employees_url %}
        <a class="nav-link {% if request.path == employees_url %}active{% endif %}" href="{{ employees_url }}">Employees</a>

        {% url "html:settings" as settings_url %}
        <a class="nav-link {% if request.path == settings_url %}active{% endif %}" href="{{ settings_url }}">Settings</a>

        {% url "html:account" as account_url %}
        <a class="nav-link {% if request.path == account_url %}active{% endif %}" href="{{ account_url }}">Account</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  {% block page %}{% endblock %}
</div>

{% endblock %}
