{% extends "app/html/base.html" %}

{% block heading %}Assets{% endblock %}

{% block page %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Assigned</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Laptop 1</td>
      <td>Laptop</td>
      <td>John Doe</td>
    </tr>
    <tr>
      <td>Mouse 1</td>
      <td>Mouse</td>
      <td>John Doe</td>
    </tr>
    <tr>
      <td>LCD 1</td>
      <td>LCD</td>
      <td>John Doe</td>
    </tr>
  </tbody>
</table>
{% endblock %}
