{% extends "app/html/base.html" %}

{% block heading %}Owners{% endblock %}

{% block page %}
<div class="d-flex justify-content-end">
  <a class="btn btn-primary end-0" href="{% url "html:owners-add" %}" role="button">Add New</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Organization</th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr>
      <td><a href="{% url 'html:owners-update' item.pk %}">{{ item.get_full_name }}</a></td>
      <td>{{ item.email }}</td>
      <td>{{ item.organization }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
