{% extends "app/html/base.html" %}
{% load crispy_forms_tags %}

{% block heading %}Delete owner{% endblock %}

{% block page %}

<form method="POST">
	{% csrf_token %}
	<p class="lead">Delete {{ object }}?</p>
	<button type="submit" class="btn btn-success">Yes</button>
  <a class="btn btn-secondary" href="{% url "html:owners" %}">No</a>
  {% for message in messages %}
<div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
</form>

{% endblock %}
