{% extends "app/html/base.html" %}

{% block heading %}Profile{% endblock %}

{% block css %}
    <style>
        .img{
            width:200px;
            height: 200px;
        }
    </style>
{% endblock %}

{% block page %}
    <h3 class="h4 mt-5">{{ object.first_name }} {{ object.last_name }}</h3>
    <h6 class="h6">{{ object.email }}</h6>
    <h6 class="h6">{{ object.headline }}</h6>
    <img src={{ object.image.url }} class="img-thumbnail img" alt="image">
    <p class="lead mt-3">{{ object.contact_number }}</p>

    {% if object.employee %}
    <p class="lead">{{ object.employee.designation }}</p>
    <p class="lead">{{ object.employee.nic }}</p>
    {% endif %}


{% endblock %}
