.documentation-main {
  height: auto;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 12px;
  padding: 18px;
  .documentation-heading {
    display: flex;
    justify-content: space-between;
    .heading-text {
      font-family: "Lato";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.011em;
      color: #000000;
      opacity: 0.5;
    }
  }
  .documentation-section {
    margin-top: 24px;
    cursor: pointer;
    .documentation-grid {
      .doc-box {
        display: flex;
        .doc-img-box {
          height: 48px;
          width: 48px;
          background-color: #f5f5f5;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
        .doc-info-box {
          margin-left: 12px;
          .file-name {
            font-size: 16px;
            font-weight: 600;
            color: #000000;
          }
          .file-size {
            font-weight: 400;
            font-size: 16px;
            color: #000000;
          }
        }
      }
      .doc-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .show-img {
          width: 17px;
          height: 18px;
          cursor: pointer;
        }
        .delete-img {
          width: 17px;
          height: 18px;
          margin-right: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .upload-box {
    margin-top: 24px;
    .upload-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 88px;
      border: 1px dashed #cfcfcf;
      border-radius: 12px;
      background-color: #f5f5f5;
      opacity: 0.5;
      color: #aaaaaa;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      .upload-img {
        height: 18px;
        width: 16px;
        margin-right: 15px;
        display: flex;
      }
    }
  }
  .error-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    color: #000000;
    .error-msg {
      font-family: "Lato";
      font-weight: 500;
      font-size: 12px;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}
