.pageone-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  height: auto;
  .grid-container-cls {
    .grid-item-cls {
      .text-field-box {
        height: 84px !important;
        .text-field-cls {
          .MuiOutlinedInput-notchedOutline {
            border: 1px solid #d4d6db;
          }
          .MuiFormLabel-root-MuiInputLabel-root {
            color: #6c6c6c;
          }
          input {
            border: 1px solid transparent;
          }
          .textfield_label {
            color: #6c6c6c;
            font-weight: 400;
            font-size: 16px;
          }
        }
        .errorText {
          color: #ff1744;
          font-size: 0.8rem;
          margin-top: 2px;
          margin-bottom: 0px;
        }
      }
    }
  }
  .switch-section {
    margin-top: 15px;
    .switch-cls {
      display: flex;
      align-items: center;
    }
    .checkbox-cls {
      margin-top: 19px;
      display: flex;
      text-transform: capitalize;
      flex-wrap: wrap;
      .checkbox-section {
        width: 179px;
      }
    }
  }
}
