.employeeButton-main {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: white;

  .button-container-one {
    margin-right: 12px;
    .buttonOne {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
      // width: 138px;
      height: 37px;
      background: #ff2f2f;
      box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
      border-radius: 8px;
      flex: none;
      order: 0;
      flex-grow: 0;
      cursor: pointer;
      color: white;
      text-transform: none;
      .button-one-text {
      }
    }
  }
  .button-container-two {
    margin-right: 12px;

    .buttonTwo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
      // width: 102px;
      height: 37px;
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
      border-radius: 8px;
      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      cursor: pointer;
      color: black;
      text-transform: none;

      .button-two-text {
      }
    }
  }

  .button-container-three {
    margin-right: 12px;

    .buttonThree {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      // align-items: flex-start;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
      // width: 196px;
      height: 37px;
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 10px 10px 24px 1px rgba(221, 221, 221, 0.15);
      border-radius: 8px;
      /* Inside auto layout */
      flex: none;
      order: 2;
      flex-grow: 0;
      cursor: pointer;
      color: black;
      text-transform: none;

      .button-three-text {
      }
    }
  }
}
