.app-bar-cls {
  position: absolute;
  border-bottom: none;
  background-color: #f5f5f5;
  .toolbar-cls {
    min-height: 90px;
    .divider-cls {
      margin-left: 9px;
    }
    .icon-btn-cls {
      margin-top: 5px;
    }
    .search-icon-box {
      width: 80px;
      display: flex;
      justify-content: space-around;
    }
  }
}
@media only screen and (max-width: 600px) {
  .app-bar-cls {
    .toolbar-cls {
      .icon-btn-cls {
        padding-left: 13px;
      }
      .divider-cls {
        margin-left: 11px;
      }
    }
  }
}
