.employee-Header-main {
  background-color: rgba(255, 205, 205, 0.2);
  border-radius: 12px;
  height: 108px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 24px;

  .icon-Container {
    width: 96px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-pic {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
  }

  .employee-Header-Div-Two {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;

    .subContainer-row-one {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      height: 28px;
      margin-top: 24px;
      margin-bottom: 10px;

      .name {
        width: auto;
        height: 28px;

        font-family: "Lato";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.011em;
        color: #000000;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 20px;
      }

      .userID {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        height: 22px;
        background: #ededed;
        border: 1px solid #d8d8d8;
        border-radius: 60px;
        flex: none;
        order: 0;
        flex-grow: 0;
        justify-content: center;
        margin-right: 12px;
        padding: 4px 12px 4px 12px;
        .paragraph {
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.011em;
          color: black;
          margin: 0px;
        }
      }

      .userStatus {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        height: 22px;
        background: #ffe5b3;
        border: 1px solid #ffc397;
        border-radius: 60px;
        flex: none;
        order: 1;
        justify-content: center;
        flex-grow: 0;
        padding: 4px 12px 4px 12px;
        .paragraph {
          height: 14px;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: -0.011em;
          color: #970000;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin: 0px;
        }
      }
    }

    .subContainer-row-two {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      height: 20px;
      margin-top: 0px;
      margin-bottom: 27px;

      .designation {
        width: 161px;
        height: 19px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.011em;
        color: #6c6c6c;
        margin-right: 11px;
        flex: none;
        flex-grow: 0;
      }

      .email {
        height: 20px;
        font-family: "Lato";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.011em;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 58.5px;
        flex: none;
        flex-grow: 0;
      }

      .contact {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.011em;
        color: black;
        font-family: "Lato";
        flex: none;
        flex-grow: 0;
      }
    }
  }
  .employee-Header-Div-Three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .container-Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      background: white;
      border: 1px solid rgb(231, 231, 231);
      box-shadow: rgba(221, 221, 221, 0.15) 10px 10px 24px 1px;
      border-radius: 8px;
      margin-right: 24px;
      margin-top: 36px;
      margin-bottom: 36px;
      margin-left: auto;
      .profile-pic {
        height: 20px;
        width: 20px;
        border: none;
      }
    }
  }
  .error-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    color: #000000;
    .error-msg {
      font-family: "Lato";
      font-weight: 600;
      font-size: 12px;
      margin-top: 5px;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}
