name: ci

on:
  pull_request:
    branches:
      - "master"
  push:
    branches: [master]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4.0.0
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          sudo apt-get install -y gdal-bin
          pip install -r requirements-dev.txt
      - name: Run Tests
        env:
          SECRET_KEY: fake_key
          DEBUG: True
        run: |
          python manage.py test

  pre-commit:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
          cache: pip
      - uses: actions/setup-node@v2
        with:
          node-version: "17"
          cache: npm
      - run: npm install
      - uses: pre-commit/action@v2.0.3
